<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:noNamespaceSchemaLocation="logback.xsd">

    <property name="LOG_PATH" value="/movile-logs/tomcat-7.0.26-port8082/inventor/" />
    <property name="DEFAULT_PATTERN" value="%highlight([%-5level]) %magenta([%date{ISO8601}] [%X{stamp}] [%class->%method:%line]) | %msg%n" />
    <property name="THREAD_PATTERN" value="%highlight([%-5level]) %magenta([%date{ISO8601}] [%X{stamp}] [%class[%thread]->%method:%line]) | %msg%n" />
    <property name="EXCEPTION_PATTERN" value="%highlight([%-5level]) %magenta([%date{ISO8601}] [%X{stamp}] [%class->%method:%line]) [Exception %msg - Thread Id %thread - Start]%n%xException{8}%n[Exception %msg - End]%n" />
    <property name="DEFAULT_MAX_FILE_SIZE" value="500MB" />
    <property name="DEFAULT_MAX_HISTORY" value="100" />

    <appender name="ap_exceptions" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}exceptions.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}exceptions.log.k3m-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${DEFAULT_MAX_FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${DEFAULT_MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${EXCEPTION_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ap_requests_performed" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}requests_performed.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}requests_performed.log.k3m-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${DEFAULT_MAX_FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${DEFAULT_MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${DEFAULT_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ap_requests_answered" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}requests_answered.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}requests_answered.log.k3m-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${DEFAULT_MAX_FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${DEFAULT_MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${DEFAULT_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ap_system" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}system.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}system.log.k3m-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${DEFAULT_MAX_FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${DEFAULT_MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${DEFAULT_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ap_portal" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}portal.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}portal.log.k3m-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${DEFAULT_MAX_FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${DEFAULT_MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${DEFAULT_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ap_hazelcast" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}hazelcast.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}hazelcast.log.k3m-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${DEFAULT_MAX_FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${DEFAULT_MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${DEFAULT_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="system" level="ALL" additivity="false">
        <appender-ref ref="ap_system" />
    </logger>

    <logger name="exception" level="ALL" additivity="false">
        <appender-ref ref="ap_exceptions" />
    </logger>

    <logger name="request_performed" level="ALL" additivity="false">
        <appender-ref ref="ap_requests_performed" />
    </logger>

    <logger name="requests_performed" level="ALL" additivity="false">
        <appender-ref ref="ap_requests_performed" />
    </logger>

    <logger name="request_answered" level="ALL" additivity="false">
        <appender-ref ref="ap_requests_answered" />
    </logger>

    <logger name="com.movile.mob.portal.channel" level="ALL" additivity="false">
        <appender-ref ref="ap_system" />
    </logger>

    <logger name="portal" level="WARN" additivity="false">
        <appender-ref ref="ap_portal" />
    </logger>

    <logger name="com.hazelcast" level="INFO" additivity="false">
        <appender-ref ref="ap_hazelcast" />
    </logger>

    <root level="INFO">
        <appender-ref ref="ap_system" />
    </root>
</configuration>
